<div class="row">
    <div class="col-md-4">
        <h2>{% trans %}meta.title.user{% endtrans %}: {{ user.email }}</h2>
        {{ form(form) }}
    </div>
    <div class="col-md-8">
        {{ include(':profile:orders.html.twig', {orders: orders}) }}
    </div>
</div>