<div class="form-group">
    <div class="input-group">
        {{ form_widget(option, {attr: {style: 'width: 30%'}}) }}
        {{ form_widget(value, {attr: {style: 'width: 70%'}}) }}
        <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
                <span class="glyphicon glyphicon-remove product_productOptions_remove"></span>
            </button>
        </span>
    </div>
</div>