<div class="row">
    <div class="col-md-12">
        {{ pagerfanta(pager, 'twitter_bootstrap3', {
            routeName: routeName,
            prev_message: '&laquo;',
            next_message: '&raquo;'
        }) }}
    </div>
</div>